@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Configuration

@section Css{
    <link rel="stylesheet" href="/dcss/internal/appliedjobs/@ViewData["ColorTeal"]~@ViewData["ColorAqua"]" />
}

@section Script{

}


<div class="container">

    <div class="flex-container">
        <div class="flex-item">
            <p class="header">this is dummy text</p>

        </div>
    <div class="flex-item">
            <p class="header">this is dummy text</p>

        </div>    <div class="flex-item">
            <p class="header">this is dummy text</p>

        </div>    <div class="flex-item">
            <p class="header">this is dummy text</p>

        </div>    <div class="flex-item">
            <p class="header">this is dummy text</p>

        </div>    <div class="flex-item">
            <p class="header">this is dummy text</p>

        </div>    <div class="flex-item">
            <p class="header">this is dummy text</p>

        </div>    <div class="flex-item">
            <p class="header">this is dummy text</p>

        </div>    <div class="flex-item">
            <p class="header">this is dummy text</p>

        </div>
    </div>
</div>
